body{
    font-family: Montserrat;
}

/* style for Navigation */
.my_nav{
    position: relative; width: 100%;
}
.my_nav ul{
    position: relative; list-style: none; margin: 0; padding: 0; background: blue;
}
.my_nav ul li{
    display: inline;
}